body {
    font-family: "Helvetica", Arial, sans-serif;

}
#election_header {
    font-size: 24;
    display: inline;

}
#timestamp {
    color: #F66;
    position:absolute;
    right:0;
    font-size: 12px;
    display: inline;

}
div .propselected {
    background-color: yellow;
    float: left;
    display: block;
    width: 100%;

}
.hidebutton {
    float: left;

}
tr:first-child 
{

}
.county-drawer {
    margin-bottom: 20px;
}
.prop_vote_count {
 margin-left: 10%;
 width: 80%;

}
.prop_percent_reporting {
    margin-left: 10%;
    float: left;
    width: 75%;

}
.prop-table-label {
    float: left;

}
#prop-table-head {
    margin-top: 10px;
    margin-bottom: 15px;

}

#prop-number-label {
    width: 10%;
}
#prop-proposition-label {
    width: 60%;

}
#prop-results-label {
    width: 30%;
}
.prop_top_number {
    width: 10%;
    font-weight: bold;
    float: left;
}
.prop_top_name,.prop_county_name {
    width: 60%;
    float: left;

}
.prop_county_name {
    padding-left: 10%;

}
.prop_top_votes {
    width: 30%;
    float: left;
}
.prop_top_row {
    width: 100%;
    float: left;
    clear: both;

}
.prop_top_vote {
    float: left;
    width: 100%;
}
.prop_top_candidate, .prop_top_percent {
    float: left;
    width: 50%;
}



.button {
    font-size: 12px;
    color: white;
    background-color: #3366cc;
    display: inline;
    border-right: 1px solid white;
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 15px;
    padding-right: 0px;
    text-align: left;
    float: left;
    width: 117px;
    border-bottom: 2px solid #ff6666;
}
.button:hover {
    background-color: #ff6666;
}
.button-selected {
    background-color: #ff6666;

}
#buttons {
    width: 725px;
    display: block;
    clear: both;
    z-index: 2;

}
#chart-canvas {
    float: left;
    width: 350px;
    margin-top: 20px;
    height: 400px;
    overflow-y: auto;

}

#map_and_zoom {
    float: left;
    width: 350px;
    margin-left: 5px;
    height: 600px;
    margin-top: 20px;

}
#map-canvas {
    float: left;
    width: 350px;
    height: 400px;
}
#zoom {
    height: 30px;
    width: 340px;
    float: left;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    background-color: #eee;
}
#zoombox {
    height: 20px;
    width: 200px;
    margin-left: 5px;

}

#contest-title {
    font-size: 36px;
    font-weight: bold;
}
#statewide-contest-results #contest-district, #contest-pretitle {
    font-weight: bold;

}

#contest-percent-reporting {
    float: right;
    color: #999;
}
.detailed-results-drawer {
    color: #999;
    font-size: 12px;
    line-height: 18px;

}
.percent-reporting {
    font-size: 24px;
    float: right;
    clear: both;

}
.reporting-detail {
    font-size: 12px;
    float: right;
    clear: both;
}

.contest-basics {
    float: left;
    clear: both;
}
.result-table {
    border-top: 1px solid #999;
    width: 100%;
    float: left;
    clear: both;
    margin-top: 25px;
    text-align: left;
}
.result-table th {
    font-weight: normal;
    color: #999;
    font-size: 12px;
}
#prop-table-head {
    font-weight: normal;
    color: #999;
    font-size: 12px;

}
.result-table tr {
    height: 25px;

}

.table-right {
    text-align: right;

}
.prop-drawer {
    display: none;
    float: left;
    width: 100%;
    clear: both;
}
.prop-row {
    margin-top: 10px;
    margin-bottom: 10px;

}

